*.list
Preprocessing/.idea/misc.xml
Preprocessing/.idea/Preprocessing.iml
Preprocessing/.idea/modules.xml
Preprocessing/.idea/workspace.xml
.idea/IMDbDataVisualisation.iml
.idea/modules.xml
.idea/misc.xml
.idea/vcs.xml
.idea/workspace.xml
Preprocessing/Output/*
Preprocessing/Sources/*
Preprocessing/.idea/vcs.xml
Presentations/~$00_Mockups-IMDb_dataset.pptx
Data/actors.csv
Data/series.csv
Data/actorsInMovies.csv
Data/movies.csv
Preprocessing/__pycache__/*

Code/data/actors/actors_-.csv
Code/data/actors/actors_A.csv
Code/data/actors/actors_B.csv
Code/data/actors/actors_C.csv
Code/data/actors/actors_D.csv
Code/data/actors/actors_E.csv
Code/data/actors/actors_F.csv
Code/data/actors/actors_G.csv
Code/data/actors/actors_H.csv
Code/data/actors/actors_I.csv
Code/data/actors/actors_J.csv
Code/data/actors/actors_K.csv
Code/data/actors/actors_L.csv
Code/data/actors/actors_M.csv
Code/data/actors/actors_N.csv
Code/data/actors/actors_O.csv
Code/data/actors/actors_P.csv
Code/data/actors/actors_Q.csv
Code/data/actors/actors_R.csv
Code/data/actors/actors_S.csv
Code/data/actors/actors_T.csv
Code/data/actors/actors_U.csv
Code/data/actors/actors_V.csv
Code/data/actors/actors_W.csv
Code/data/actors/actors_X.csv
Code/data/actors/actors_Y.csv
Code/data/actors/actors_Z.csv
Code/data/actorsInMovies/actorMapping_0.csv
Code/data/actorsInMovies/actorMapping_1.csv
Code/data/actorsInMovies/actorMapping_10.csv
Code/data/actorsInMovies/actorMapping_11.csv
Code/data/actorsInMovies/actorMapping_12.csv
Code/data/actorsInMovies/actorMapping_13.csv
Code/data/actorsInMovies/actorMapping_14.csv
Code/data/actorsInMovies/actorMapping_15.csv
Code/data/actorsInMovies/actorMapping_16.csv
Code/data/actorsInMovies/actorMapping_17.csv
Code/data/actorsInMovies/actorMapping_18.csv
Code/data/actorsInMovies/actorMapping_19.csv
Code/data/actorsInMovies/actorMapping_2.csv
Code/data/actorsInMovies/actorMapping_21.csv
Code/data/actorsInMovies/actorMapping_22.csv
Code/data/actorsInMovies/actorMapping_23.csv
Code/data/actorsInMovies/actorMapping_24.csv
Code/data/actorsInMovies/actorMapping_3.csv
Code/data/actorsInMovies/actorMapping_4.csv
Code/data/actorsInMovies/actorMapping_5.csv
Code/data/actorsInMovies/actorMapping_6.csv
Code/data/actorsInMovies/actorMapping_7.csv
Code/data/actorsInMovies/actorMapping_8.csv
Code/data/actorsInMovies/actorMapping_9.csv

