*.list
Preprocessing/.idea/misc.xml
Preprocessing/.idea/Preprocessing.iml
Preprocessing/.idea/modules.xml
Preprocessing/.idea/workspace.xml
.idea/IMDbDataVisualisation.iml
.idea/modules.xml
.idea/misc.xml
.idea/vcs.xml
.idea/workspace.xml
Preprocessing/Output/*
Preprocessing/Sources/*
Preprocessing/.idea/vcs.xml
Presentations/~$00_Mockups-IMDb_dataset.pptx
Data/actors.csv
Data/series.csv
Data/actorsInMovies.csv
Data/movies.csv
Preprocessing/__pycache__/*

Code/data/actors/*
Code/data/actorsInMovies/*
Code/data/movies/*
Code/data/actorsByID/*
Code/data/actorsInSeries/*
Code/data/series/*

Data/moviesBudget.csv

Data/moviesBusinessData.csv

Data/moviesFilmDays.csv

Data/moviesGross.csv

Data/moviesRuntimes.csv
.idea/inspectionProfiles/profiles_settings.xml

Data/flowData.csv

Data/flowData.json
