/* -------------------------------- Basics -------------------------------- */
body {
    padding: 0px;
    height: 100%;
    margin: 0;
    position: relative;
    /*background-color: #FBF8EF;*/
    /*background-color: #FFDBCE;*/
}

/* -------------------------------- Navigator (overwrite Bootstrap) -------------------------------- */
.navbar-nav > li > a, .navbar-brand {
    padding-top:5px !important;
    padding-bottom:0 !important;
    height: 30px;
}
.navbar {
    min-height:30px !important;
    margin-bottom: 0px;
}

#menu-toggle {
    color: #DA70D6;
    /* font-style: italic; */
    font-style: normal;
}

/* -------------------------------- Slider -------------------------------- */
.range_slider{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 12px;
    padding-right: 12px;
}

/* -------------------------------- Row 3: Multiline (linechart) and barchart -------------------------------- */
/* Based on: http://bl.ocks.org/asielen/44ffca2877d0132572cb */

.chart {
    height: 200px;
    margin: 0 auto;
    background-color: #FAF7F7;
}
.chart .inner-wrapper {
    position: relative;
    padding-bottom: 50%;
    width: 100%;
}

.chart .outer-box {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
}

.chart .inner-box {
    width: 100%;
    height: 100%;
}

.chart text {
    font-family: sans-serif;
    font-size: 11px;
}
.chart p {
    font-size: 16px;
    margin-top:5px;
    margin-bottom: 40px;
}
.chart .axis path,
.chart .axis line {
    fill: none;
    stroke: #1F1F2E;
    stroke-opacity: 0.7;
    shape-rendering: crispEdges;
}
.chart .axis path {
    stroke-width: 1px;
}
.chart .line {
    fill: none;
    stroke: steelblue;
    stroke-width: 3px;
}
.chart .legend  {
    min-width: 200px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    font-size: 16px;
    padding: 10px 40px;
}
.chart .legend > div {
    margin: 0px 25px 10px 0px;
    flex-grow: 0;
}
.chart .legend p {
    display:inline;
    font-size: 0.8em;
    font-family: sans-serif;
    font-weight: 600;
}
.chart .legend .series-marker {
    height: 1em;
    width: 1em;
    border-radius: 35%;
    background-color: crimson;
    display: inline-block;
    margin-right: 4px;
    margin-bottom: -0.16rem;
}
.chart .overlay {
    fill: none;
    pointer-events: all;
}
.chart .focus circle {
    fill: crimson;
    stroke: crimson;
    stroke-width: 2px;
    fill-opacity: 15%;
}
.chart .focus rect {
    fill: lightblue;
    opacity: 0.4;
    border-radius: 2px;
}
.chart .focus.line {
    stroke: steelblue;
    stroke-dasharray: 2,5;
    stroke-width: 2;
    opacity: 0.5;
}

.chartTitle {
    text-align: center;
    padding-top: 10px;
}

@media (max-width:500px){
    #genreProductionRate .line {stroke-width: 3px;}
    #genreProductionRate .legend {font-size: 14px;}
}

.bubble{
    display: inline-block;
}

#bubbleList {
    width: 200px;
    height: 300px;
}


/* Side bar */
/* Toggle Styles */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* -------------------------------- Sidebar -------------------------------- */
.sidebar-nav {
    position: absolute;
    top: 0;
    width: 150;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 21px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 50px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

.genreCheckboxText {
    color: #999999;
}

.checkboxWithLabel {        /* parent */
    display: flex;
}

.checkboxLabel { /* child 1 */
    flex: 1;

}

.checkBoxImg { /* child 2 */
    margin-top: 3px;
    width: 15px;
    height: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    background: lightgreen;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 200px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 200px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 0px; /* 20 */
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

.awesomplete {
    margin-left: 10px;
}

.flowQuery {
    margin-top: 20px;
    width: 185px;
}

.checkBoxInformation {
    margin-top: 40px;
    font-weight: lighter;
    letter-spacing: 1px;
    font-size: small;
}

#checkBoxInformationText{
    color: #acd2e2;
    margin-left: 25px;
    display: block;
    text-indent: 0px;
}

/* --------------------------- Sankey diagram --------------------------- */
/* Based on: http://bl.ocks.org/d3noob/5015397 */
.node rect {
    cursor: move;
    fill-opacity: .9;
    shape-rendering: crispEdges;
}

.node text {
    pointer-events: none;
    text-shadow: 0 1px 0 #fff;
}

.link {
    fill: none;
    stroke: #000;
    stroke-opacity: .2;
}

.link:hover {
    stroke-opacity: .5;
}

#sankeyChart .legend {
    position: absolute;
    right: 0px;
}

#sankeyChart .legend > div {
    margin: 10px 25px 10px 10px;
    display: inline-block;
}

#sankeyChart .legend p {
    display:inline;
    font-size: 0.8em;
    font-family: sans-serif;
    font-weight: 600;
}

#sankeyChart .legend .categories-marker {
    height: 1em;
    width: 1em;
    border-radius: 35%;
    background-color: crimson;
    display: inline-block;
    margin-right: 4px;
    margin-bottom: -0.16rem;
}

#sankeyChart .highlighted_link {
    stroke: #FF183C;
    stroke-opacity: .8;
}


/* -------------------------------- Biography -------------------------------- */
.lifetimeImg {
    margin: 10px;
    height: 85px;
    width: 85px;
}
.lifetimeLegend {
    margin: 20px;
    height: 130px;
    width: 30px;
}
.lifetimeLabel {
    font-size: 16px;
    margin: 0 auto;
    text-align: center;
}
.lifetimeLegendLabel {
    font-size: 16px;
    margin: 0 auto;
    text-align: left;
}
.legendLabelTop {
    margin-top: 20px;
}
.legendLabelBottom {
    vertical-align: bottom;
    top: 65%;
    position: absolute;
}
.lifetimeWrapper {
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: inline-block;
    border-color: transparent;
    border-style: solid;
    background: transparent;
    cursor: pointer;
}
.lifetimeWrapperLegend {
    vertical-align: top;
    display: inline-block;
}

#lifetime {
    //width: 600px;
}

#bio {
    height: 200px;
    //width: 200px;
    background-color: #FAF7F7;
    padding: 20px;
    color: black;
    word-wrap: break-word;
}
#bio > h3 {
    margin-top: 0px;
}

.lifetimeWrapperLegend > .legendText {
    float: right;
    display: inline-block;
}

.selectedLifetimeWrapper {
    border-color: #BD9797;
    border-style: solid;
    background: #E0CDCD;
}

.info  {
    z-index: 10;
    position: absolute;
}
#chartInfo {
    background-color: #FAF7F7;
    padding: 10px;
    font-size: 14;
    visibility: hidden;
}

#languageChart {
    //width: 200px;
}

#languageChart > svg {
    margin-top: 5px;
}

.slice {
    cursor: pointer;
}

.searchResult {
    margin: 10px;
    padding: 5px;
    background: lightgoldenrodyellow;
    border: 1px solid darkgray;
    cursor: pointer;
    font-size: 14;
    color: black;
    text-decoration: none;
}
.searchResult:hover, .searchResult:visited, .searchResult:active, .searchResult:link {
    color: black;
    text-decoration: none;
}
.searchResult:visited {
    color: black;
    text-decoration: none;
}
.searchResultActor {
    background: lightgoldenrodyellow;
}
.searchResultMovie {
    background: #9DE8EE;
}

.smallChartZoom{
    margin-right: 25px;
}

.larger_chart{
    width: 500px;
    height: 500px;

}

/* -------------------------------- Series -------------------------------- */
.search-box {
    padding-top: 20px;
    padding-left: 20px;
}

.search-box #custom-search-input {
    height: 20%;
}

.search-box #filter-results {
    /*border: 1px solid black;*/
    overflow: scroll;
    overflow-x: hidden;
    height: 65%;
}

.search-box #filter-results a {
    display: block;
}

.search-box input#custom-search-input-field {
    height: 65%;
}

.search-box #search-button-container {
    vertical-align: top;
}

.search-box #search-button-container button {
    height: 65%;
}

#actorDistribution {
    border: 1px solid;
    border-top: none;
}

#searchBox {
    border-bottom: 1px solid
}

#ratingLineChart {
    border-right: 1px solid
}
.node {
    /*border: solid 1px white;*/
    font: 14px sans-serif;
    line-height: 12px;
    overflow: hidden;
    position: absolute;
    text-indent: 2px;
    font-weight: bold;
    color:#fff;
}

.actor-desc-inner {
    /* Vertically center */
    position: relative;
    top: 50%;
    transform: translateY(-50%);

/*    font-family: "Helvetica Neue, Helvetica, Arial, san-serif";*/
    padding-left: 5px;
    padding-right: 5px;
}

.actor-desc-inner .name {
    margin-top: 10px;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
}

.actor-desc-inner .role {
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
}

.actor-desc-inner .appearances {
    margin-top: 10px;
}

.actor-desc-inner .appearances .season .episode {
    height: 15px;
    display: inline-block;
}

.actor-desc-inner .appearances .season .episode.yes {
    background: black;
    border: 1px white;
}

.actor-desc-inner .appearances .season .episode.no {
    background: white;
    border: 1px black;
}

.avg-rating-container {
    text-align: center;
}

.avg-rating-container div {
    margin-top: 25%;
}

.avg-rating-container .rating {
    margin-top: 0;
    font-size: 20px;
    font-weight: bold;
}

#fullActorInformation {
    position: absolute;
    float: left;
}

/* -------------------------------- Navigator (overwrite Bootstrap) -------------------------------- */
.vis_modal {
    background-color: #FAF7F7;
}
